<%- include('partials/head') %>

  <body class="h-100 hero " >
    <div class=" d-flex justify-content-center mt-5 " >
      <img  src="/img/logo.jpg" width="250px" alt="">
    </div>
    <section class="h-75 d-flex justify-content-center align-items-center mt-10">
      <a
        class="text-center item mx-4 py-3 btn btn-behance"
         
        href='./studentportal/login';"
      >
        <i class="fa fa-user fa-5x" alt="Student Portal" ></i>
        <h2 class="mt-3  text-white">Student Portal</h2>
      </a>
      <a class="text-center item mx-4 py-3 btn btn-behance"
      href='./facultyportal/login';">
      <i class="fa fa-chalkboard-teacher fa-5x" alt="Student Portal" ></i>
        <h2 class="mt-3 text-white">Faculty Portal</h2>
      </a>
      <a class="text-center item mx-4 py-3 btn btn-behance"
      href='./HODportal/login';">
      <i class="fa fa-user-tie fa-5x" alt="Student Portal" ></i>
        <h2 class="mt-3 text-white">&nbsp;&nbsp;HOD Portal&nbsp;&nbsp;</h2>
    </a>
      <a class="text-center item mx-4 py-3 btn btn-behance"
      href='./admin/login';">
      <i class="ni ni-settings-gear-65 text-5xl" alt="Student Portal" ></i>
        <h2 class="mt-3 text-white">Admin Portal</h2>
      </a>
    </section>
  </body>
</html>
