:root {
  --custom1: #a28089;
}

.z-card {
  border: none;
  padding: 0 !important;
  border-radius: 20px !important;
  min-width: min-content;
  margin: 0px 15px;
}

.item {
  background-color: whitesmoke;

  cursor: pointer;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgb(41, 61, 73);
}
.item:hover {
  filter: brightness(90%);
}
.item img {
  height: 100px;
}
thead {
  cursor: context-menu !important;
}
tbody {
  cursor: context-menu !important;
}
th {
  border: 0px solid rgba(255, 255, 255, 0) !important;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.btn-xs {
  margin: 0 !important;
}

input[type='checkbox'] {
  position: relative;
  cursor: pointer;
  margin-left: 1rem;
}
input[type='checkbox']:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px outset #5e72e4;
  border-radius: 3px;
  background-color: white;
}
input[type='checkbox']:checked:before {
  background-color: #ffffff !important;
  border: 2px inset #5e72e4;
}
input[type='checkbox']:checked:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid #5e72e4;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
  background-color: #ffffff;
}

.hero::before {
  content: '';
  background-image: url('/img/bg.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  filter: brightness(60%);
  z-index: -1;
}
