<%- include('partials/studenthead') %>
<div class="container-fluid py-4 min-vh-100">
  <div class="table-responsive">
       
    <div class="card">
        <div class="table-responsive">
          <table class="table align-items-center mb-0 e table-group-divider">
            <thead class=" text-dark">
              <tr class="align-middle text-center">
               
                <th class="text-uppercase text-sm font-weight-bolder opacity-7">Course Title</th>
                <th class="text-uppercase text-sm font-weight-bolder opacity-7">Session</th>
                <th class="text-uppercase text-sm font-weight-bolder opacity-7">Grade</th>
                <th class="text-uppercase text-sm font-weight-bolder opacity-7 ps-2">Section Code</th>
                <th class="text-center text-uppercase text-sm font-weight-bolder opacity-7">Faculty Name</th>
      
               
               
              </tr>
            </thead>
            <tbody id="myTable">
              <tr class="align-middle text-center text-sm">

                  <td>
                  
                      
                      <div class="d-flex flex-column justify-content-center px-2 py-2">
                        <h6 class="mb-0 text-sm ">Artificial Intelligence Lab</h6>
                        <p class="text-xs text-secondary mb-0">CSC312</p>
                      </div>
                  
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">FALL 22</p>
                   
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">A</p>
                   
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">M-10001</p>
                   
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">Dr Asghar Kan</p>
                   
                  </td>
                 
                  
                </tr>
          
            </tbody>
          </table>
        </div>
      </div>

  </div>

  </div>
<%- include('partials/footer') %>